
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
font-family: 'Ubuntu', sans-serif;

}

ul, dir {
    margin: 0;
    padding: 0;
}

.hc-nav {
	display: block;
	background: #333333;
	font-size: 22px;
	font-weight: 500;
	width: 100%;
	height: 50px;
	position: relative;
}

.hc-nav-option {
	display: inline-block;
	margin: 12px 20px;
}

.hc-nav-option > a {
	text-decoration: none;
	color: #fff;
	height: 100%;
	padding: 9px 29px 9px;
}

.hc-nav-option > a:hover {
	color: #98A8AD;
	/* box-shadow: 0 0 10px #ccc; */
}

.hc-container-img {
	width: 100%;
	height: 100px;
	display: block;
	border: 1px solid #000;
	margin-bottom: 25px;
	margin-top: 25px;
}

.hc-container-escolas {
	width: 20%;
	/* border: 1px solid; */
	height: auto;
	display: inline-block;
	position: absolute;
}

.hc-container-escolas .hc-item-materia {
	display: none;
	font-size: 14px;
	font-weight: 400;
	background: #e1e1e1;
	padding: 5px 10px;
}
.hc-container-escolas .hc-item-materia:hover {
	color: #C74421;
}

.hc-container-escolas .hc-item-escola {
	list-style: none;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	padding: 5px 10px;
	background: #C3C3C3;
	display: inline-block;
	float: left;
	width: calc(100% - 20px);
	border: 2px;

}

.hc-container-escolas .hc-item-escola:hover {
	background-color: #e1e1e1;
	color: #333333;
	font-size: 16px;
}

.hc-container-escolas ul {
	padding-left: 0;
	margin: 0;
	cursor: pointer;
	display: block;
}

.hc-container-escolas .hc-expandir-escola {
	font-size: 26px;
	position: absolute;
	display: inline-block;
	font-weight: 600;
	float: right;
}

.hc-container-escolas a.hc-expandir {
    display:  inline-block;
    float: right;
    width: 10%;
    text-align:  center;
    height: auto;
    font-size: 18px;
}

.hc-title-block{
	font-size: 24px;
	border: 1px solid;
	background: #ededed;
	display: block;
}


.hc-container-alterar-materia{
	display: inline-block;
	width: 45%;
	height: 100%;
	border: 1px solid;
	position: absolute;
	right: 0;
	float: right;
	margin: 0 20%;
	max-height: 460px;
}

.hc-container-alterar-materia .hc-main-title-block {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid;
    padding: 5px 0;
}
.hc-container-alterar-materia .hc-lista-alterar-materia {
	width: 25%;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}

.hc-custom-select {
	font-size: 20px;
	display: block;
	position: relative;
	width: 25%;
	height: auto;

}

.hc-container-alterar-materia li.titulo-inserir-escola  {
	display: block;
	font-size: 18px;
	width: 100%;
	height:  50px;
	text-align: center;
	cursor: pointer;
	background-color: #ccc;
}

.hc-container-alterar-materia .titulo-inserir-escola span{
	position: relative;
	left: 0;
	top: 13px;
}

.hc-container-alterar-materia li.nome-escola-inserida{
	list-style: none;
	text-indent: 5%;
	padding: 5px 10px;
	display: block;
}